{% load static %}

<!DOCTYPE html>

<html lang="en-US">
  <head>
    <title>{% block title %} TeachClip- Goal Charts {% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap');
    </style>
  </head>
    <body>
        <header>
          <div id="header-layout">
            <a href="{% url "teacher_home" %}">
              <div id="logo-layout">
                <img id="logo" src="{% static "img/logo.jpg" %}" alt="logo">
                <h1>TeachClip</h1>
              </div>
            </a>
            <nav>
              <div><a href="{% url "teacher_home" %}">Home</a></div>
              <div><a href="{% url "teacher_home" %}">Goal Chart</a></div>
              <div><a href="{% url "teacher_home" %}">My Students</a></div>
              <div><a href="{% url "teacher_home" %}">About</a></div>
              {% block nav%}

              {% endblock nav%}
            </nav>
          </div>
        </header>
        <main>
        {% block main %}

        {% endblock main %}
        </main>
        <footer>Copyright 2024 by Shiela Lee</footer>
    </body>
  </html>
