{% load static %}

<!DOCTYPE html>

<html lang="en-US">
  <head>
    <title>{% block title %} TeachClip- Goal Charts {% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap');
    </style>
  </head>
    <body>
        <header>
          <div id="header-layout">
            <a href="{% url "info" %}">
              <div id="logo-layout">
                <img id="logo" src="{% static "img/logo.jpg" %}" alt="logo">
                <h1>TeachClip</h1>
              </div>
            </a>
            <nav>
              {% comment %} <div><a href="{% url "info" %}">Home</a></div> {% endcomment %}
              {% if user.is_authenticated %}
                <div><a href="{% url "teacher_home" %}">Build Student Schedule</a></div>
                <div><a href="{% url "teacher_home" %}">My Students</a></div>
                <a href="{% url "logout" %}">Logout</a>
              {% else %}
              <span></span>
              <span></span>
                <a href="{% url "profile_selection" %}">Sign Up</a>
                <a href="{% url "teacher_login" %}">Login</a>
              {% endif %}
              {% comment %} <div><a href="{% url "about" %}">About</a></div> {% endcomment %}
              {% block nav%}

              {% endblock nav%}
            </nav>
          </div>
        </header>
        <main>
          <div class="info-img">
            <img src="{% static "img/paperclips.jpg" %}" alt="paperclip image">
            <h1>Collaborating better by organizing better</h1>
          </div>
        {% block main %}

        {% endblock main %}
        </main>
        <footer>Copyright 2024 by TeachClip</footer>
    </body>
  </html>
