{% extends "base.html" %}

{% block title %}

{% endblock title %}

{% block main %}
<div>
    <h1>About</h1>
    <p>TeachClip is an edtech startup founded by a special education teacher. Staying organized was a priority in addressing her students' IEPs and having so many digital tools was getting messy. She found that many of the systems she developed could help teachers more broadly so she founded TeachClip.</p>
    <p>One of TeachClip's core missions is to let the learner take charge of their learning. Many of the systems created help the learner be more independent and autonomous. For now, we are targeting K-5 students and look to scale to reach other students in the future.</p>
</div>
{% endblock main %}
<div>
    <h1>TEST</h1>
</div>
