{% extends "base.html" %}

{% block title %}
    {{ student.student_first_name }} Goals
{% endblock title %}

{% block main %}
<h1>Goal Charts for {{ student.student_first_name}}</h1>
<h2>Have I met the goal: </h2>

<h2>{{ student.student_first_name }}'s Monday Charts</h2>

<h2>{{ student.student_first_name }}'s Tuesday Charts</h2>

<h2>{{ student.student_first_name }}'s Wednesday Charts</h2>

<h2>{{ student.student_first_name }}'s Thursday Charts</h2>

<h2>{{ student.student_first_name }}'s Friday Charts</h2>

<i class="fa-regular fa-star"></i>
<i class="fa-solid fa-star"></i>
{% endblock main %}
