{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock title %}

{% block main %}

<div>
    <h1>Your digital clipboard unveiled...</h1>
</div>

<div id="info-section">
    <div>
        <h2>Let your student take control of their learning</h2>
        <img src="{% static "img/clipboard.png" %}" alt="clipboard">
        <h2>Let students...</h2>
    </div>
    <div>
        <h2>...build their own schedule</h2>
    </div>
    <div>
        <h2>...track their daily goals</h2>
    </div>
</div>

<div id="more-info-section">
    <div>
        <h2>As the teacher, you can...</h2>
        <h2>See your student's progress to their goals</h2>
    </div>
</div>


<div id="about">
    <div>
        <h1>About</h1>
        <img src="{% static "img/logo.jpg" %}" alt="logo">
    </div>
    <div>
        <p>TeachClip was founded by a special education teacher. Staying organized was a priority in addressing her students' IEPs and having so many digital tools was getting messy. She found that many of the systems she developed could help teachers more broadly so she founded TeachClip.</p>
        <p>One of TeachClip's core missions is to let the learner take charge of their learning. Many of the systems created help the learner be more independent and autonomous. For now, we are targeting K-5 students and look to scale to reach other students in the future.</p>
    </div>
</div>

{% endblock main %}
