{% extends "base.html" %}
{% load static %}

{% block title %} Teacher Home {% endblock title %}

{% block userimg %}
  <div class="info-img">
    <img src="{% static "img/pens.jpg" %}" alt="pens image">
    <h1>{{ user.first_name }}'s Awesome Students</h1>
  </div>
{% endblock userimg %}

{% block main %}
<div class="center-container">
  <h1>My Students</h1>
  <div class="add-big-button">
    <a href="{% url "add_student" %}"><h2>+ Student</h2></a>
  </div>
</div>

<div class="student-container">
  {% for student in students %}
    <div class="student-box {% cycle "group1" "group2" "group3" %}">
      <h2>{{ student.student_first_name }}</h2>
      <a href="{% url "create_goal" student.id %}"><p>+ Goal</p></a>
      <table>
        <thead>
          <tr>
            <th>Goal(s)</th>
            <th>How have I been doing?</th>
            <th>Last Updated On</th>
          </tr>
        </thead>
        <tbody class="striped-table">
          {% for goal in student.goals.all %}
          <tr>
              <td><a href="{% url "edit_goal" goal.id %}">{{ goal.goal_name}}</a></td>
              <td>
                <a href="{% url "goal_chart" goal.id %}">
                <i class="fa-regular fa-star {% if goal.average_rating > 0 %} checked {% endif %}"></i>
                <i class="fa-regular fa-star {% if goal.average_rating > 1 %} checked {% endif %}"></i>
                <i class="fa-regular fa-star {% if goal.average_rating > 2 %} checked {% endif %}"></i>
                <i class="fa-regular fa-star {% if goal.average_rating > 3 %} checked {% endif %}"></i>
                <i class="fa-regular fa-star {% if goal.average_rating > 4 %} checked {% endif %}"></i></a>
              </td>
              <td>{{ goal.last_modified }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>

{% endblock main %}
