html, body {
    font-family: 'Cormorant Garamond', serif;
}


nav{
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    text-align: center;
    align-items: center;
}

#logo-layout {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    margin: 0px;
}

#logo-layout h1 {
    margin: 0px;
    animation-name: slidein;
    animation-duration: 5s;
}

#logo {
    width: 60px;
    height: 85px;
    block-size: fit-content;
    border-radius: 5px;
    animation-name: slidein-reverse;
    animation-duration: 5s;
}

#logo-layout h1:visited {
    color: black;
}

@keyframes slidein {
    from {
      transform: translateX(-100px);
    }

    to {
      transform: translateX(0px);
    }
}

@keyframes slidein-reverse {
    from {
      transform: translateX(100px);
    }

    to {
      transform: translateX(0px);
    }
}

#header-layout {
    display: grid;
    grid-template-columns: 25% 1fr;
    background-color: white;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

a {
    text-decoration: none;
    color: black;
}


h1 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}


.info-img {
    position: relative;

}

.info-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
}

.info-img h1 {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-20%, -20%)

}

#profile-selection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#profile-selection h2 {
    margin: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    background: linear-gradient(in hsl, rgb(75, 152, 175), rgb(76, 216, 160));
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#profile-selection a:nth-of-type(odd) h2 {
    background: linear-gradient(in hsl, rgb(82, 185, 216), rgb(177, 88, 225));
}

#info-section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

footer {
    font-family: 'Shadows Into Light', cursive;
    margin: 20px;
    padding: 40px;
}

/* Teacher Home */
.center-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#add-student {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: wheat;
    padding: 10px;
    border: 1px solid;
}

#add-student:hover {
    box-shadow: 10px 5px 5px rgb(2, 38, 8);
}

.student-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.student-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 5px 5px rgb(2, 38, 8);
}

.student-box p {
    background-color: yellow;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
}

.student-box p:hover {
    box-shadow: 10px 5px 5px rgb(2, 38, 8);
    border: 1px solid;
}

.group1 {
    background-color: rgb(201, 240, 201);
}

.group2 {
    background-color: rgb(150, 229, 209);
}

.group3 {
    background-color: rgb(228, 184, 244);
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background: black;
    color: white;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

table td {
    font-size: 18px;
    padding: 10px;
}

table, th, td {
    border: 1px solid;
}

.striped-table> tr:nth-child(even) {
    background-color: lightgray;
}

.striped-table> tr:nth-child(odd) {
    background-color: white;
}

.striped-table> tr:nth-child(even):hover {
    background-color: yellow;
}

.striped-table> tr:nth-child(odd):hover {
    background-color: yellow;
}

/* Forms CSS */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

button {
    padding: 10px;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    pointer-events: auto;
    background: linear-gradient(35deg, #8C52FF, #C669FF);
    animation: hueRotate 3s linear infinite alternate;
    border-radius: 5px;
    color: white;
}

@keyframes hueRotate {
 to {
   filter: hue-rotate(85deg);
 }
}

input:not(:placeholder-shown):invalid {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.4em red;
   }

   @keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
   }

form:invalid button {
    background-color: salmon;
    pointer-events: none;
}

form:valid button {
    pointer-events: auto;
}
